{% extends 'base.html' %}

{% block head_css %}
{{ super() }}
<style>
	.panel {
		padding-top: 0px;
		padding-left: 0px;
	}

	.mainbox {
		margin-top:50px
	}
</style>
{% endblock %}

{% block body %}
	{% for field in form %}
		{% if field.errors %}
		<div class="alert alert-danger">{{ field.label }}: {% for error in field.errors %}{{ error }}{% if not loop.last %}, {% endif %}{% endfor %}</div>
		{% endif %}
	{% endfor %}

	<div id="loginbox" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
		<div class="panel panel-primary" >
			<div class="panel-heading">
				<div class="panel-title">Sign In</div>
			</div>

			<div class="panel-body">
				<form id="loginform" role="form" action="{{ url_for('.index', next=next) }}" method="post">
					<div id="login-alert" class="alert alert-info">
						<p>Enter email and password to sign in.</p>
					</div>

					<div class="form-group">
						<div class="input-group">
							<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
							<input id="login-email" type="text" class="form-control" name="email" placeholder="Email">
						</div>
					</div>

					<div class="form-group">
						<div class="input-group">
							<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
							<input id="login-password" type="password" class="form-control" name="password" placeholder="Password">
						</div>
					</div>

					<div class="form-group">
						<div class="controls">
							<button type="submit" class="btn btn-success">Login</button>
						</div>
					</div>

					<div class="form-group">
						<div style="border-top: 1px solid#888; padding-top:15px; font-size:85%" >
								Don't have access?
								<a href="#" onClick="$('#loginbox').hide(); $('#signupbox').show()">
									Click Here To Request
								</a>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div id="signupbox" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
		<div class="panel panel-primary">
			<div class="panel-heading">
				Sign Up
				<div class="btn-group pull-right">
					<a id="signinlink" class="btn btn-info btn-xs" onclick="$('#signupbox').hide(); $('#loginbox').show()" href="#">Back To Sign In</a>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="panel-body">
				<form id="signupform" role="form" action="{{ url_for('.signup', next=next) }}" method="post">
					<div class="form-group">
						<div class="input-group">
							<span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
							<input id="login-email" type="text" class="form-control" name="email" placeholder="Email">
						</div>
					</div>
					<div class="form-group">
						<div class="input-group">
							<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
							<input id="login-password" type="password" class="form-control" name="password" placeholder="Password">
						</div>
					</div>
					<div class="form-group">
						<div class="input-group">
							<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
							<input id="login-birthdate" type="text" class="form-control" name="birthdate" placeholder="Birthday">
						</div>
					</div>
					<div class="form-group">
						<div class="input-group">
							<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
							<input id="login-gender" type="text" class="form-control" name="gender" placeholder="Gender">
						</div>
					</div>
					<div class="form-group">
						<button type="submit" class="btn btn-success">Request Access</button>
					</div>
				</form>
			</div>
		</div>
	</div>
{% endblock %}
